/* CSS for RecapXBlock */

.recap_answer {
  padding-left: 10px;
  margin-bottom: 10px;
  border-left: 4px solid #AAA;
}

.recap_actions {
  margin-top: 20px;
}

.recap_block .count {
  font-weight: bold;
}

.recap_block p {
  cursor: pointer;
}
