.recap-loader {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#recap-options {
    padding: 6px 12px;
    border-radius: 0;
    background-color: transparent;
}

.recap-nav-ul {
    list-style: none;
    line-height:2em;
    padding: 0;
}

.recap-nav-li {
    display: inline-block;
    vertical-align:middle;
}

.recap-nav-li:nth-child(n+2) {
    float:right;
    vertical-align:middle;
}

.fa-search {
    padding: 6px;
}

.recap-page-wrapper {
    text-align:center;
}

.focus {
    background-color:  #dddddd;
    color: white;
}

.nums {
   position:relative;
   margin: 0 auto;
   color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.np {
    position:relative;
    margin: 0 auto;
   color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

#nav {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.active {
    background-color: #d9d9d9;
    color: black;
}

.recap-tab {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table.recap-tab td,
table.recap-tab th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table.recap-tab tr:nth-child(even) {
  background-color: #dddddd;
}

.recap_question {
  margin-bottom: 0.8em;
}

.recap_answer {
  padding-left: 10px;
  margin-bottom: 1.2em;
  border-left: 4px solid #AAA;
  white-space: pre-wrap;
}

.recap_actions {
  margin-top: 20px;
}
