.recap-page-wrapper {
    text-align:center;
}

.focus {
    background-color:  #dddddd;
    color: white;
}

.pageNumber {
   color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}


.active {
    background-color: #d9d9d9;
    color: black;
}

.recap-tab {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


table.recap-tab td,
table.recap-tab th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table.recap-tab tr:nth-child(even) {
  background-color: #dddddd;
}

.recap_question {
  margin-bottom: 0.8em;
}

.recap_answer {
  padding-left: 10px;
  margin-bottom: 1.2em;
  border-left: 4px solid #AAA;
  white-space: pre-wrap;
}

.recap_actions {
  margin-top: 20px;
}

