/* CSS for RecapXBlock */

.recap_question {
  margin-bottom: 0.8em;
}

.recap_answer {
  padding-left: 10px;
  margin-bottom: 1.2em;
  border-left: 4px solid #AAA;
  white-space: pre-wrap;
}

.recap_actions {
  margin-top: 20px;
}

@media print {
    .recap_answer {
    	border-left: none;
    }
}