.recap-loader {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.recap-nav-ul {
    list-style: none;
    border-bottom: 2px solid #dddddd;
    border-top: 2px solid #dddddd;
    line-height:2.5em;
}

.recap-nav-li {
    display: inline-block;
    vertical-align:top;
/*    padding: 0 1.5em;*/
/*    border-left: 2px solid #dddddd;*/
}

.recap-nav-li:nth-child(n+2) {
    float:right;
}

.recap-nav-li:nth-child(n+1) {
    float:left;
}


#search {
    padding:0 4px;
}

.recap-page-wrapper {
    text-align:center;
}

.focus {
    background-color:  #dddddd;
    color: white;
}

.pageNumber {
   color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.active {
    background-color: #d9d9d9;
    color: black;
}

.recap-tab {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table.recap-tab td,
table.recap-tab th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table.recap-tab tr:nth-child(even) {
  background-color: #dddddd;
}

.recap_question {
  margin-bottom: 0.8em;
}

.recap_answer {
  padding-left: 10px;
  margin-bottom: 1.2em;
  border-left: 4px solid #AAA;
  white-space: pre-wrap;
}

.recap_actions {
  margin-top: 20px;
}

